.my-container {
  max-width: 1200px;
}

.my-border {
  border: 1px dashed black;
}

.my-pointer {
  cursor: pointer;
}

.my-debug {
  color: blue;
  font-weight: bold;
  background-color: lightgreen;
}